.bkg{
    background-image: url('../images/home.jpg');
    background-size: cover ; 
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
}
.botones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    
}
.select{
  cursor: pointer;
  background: #0b0c0c;
  border-radius: 15px;
  font-style: italic;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px 9px 23px;
  text-decoration: none;
  position:relative;

}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
}

.paginado{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  
}

.filterC{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  justify-content: space-evenly ;

}
.refresh{
  cursor: pointer;
  background: #0b0c0c;
  border-radius: 15px;
  font-style: italic;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px 9px 23px;
  text-decoration: none;
  position:relative;
  border: #ffffff 1px solid;
  
}
.input{
  background-color: #f3f2efea;
  border: #ffffff 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  font-family: italic;
  font-weight: bold;

}
.create{
  cursor: pointer;
  background: #0b0c0c;
  border-radius: 15px;
  font-style: italic;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px 9px 23px;
  text-decoration: none;
  position:relative;
  border: #ffffff 1px solid;
  margin-top: 1%;
}
.search{
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: 15px;
}
.btnsearch {
  cursor: pointer;
  background: #0b0c0c;
  border-radius: 15px;
  font-style: italic;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px 9px 23px;
  text-decoration: none;
  position:relative;
  border: #ffffff 1px solid;
}

.btnsearch:hover {
  background: #d8e66c;
  text-decoration: none;
  cursor: pointer;
}
.create:hover {
  background: #d8e66c;
  text-decoration: none;
  cursor: pointer;
}
.refresh:hover {
  background: #d8e66c;
  text-decoration: none;
  cursor: pointer;
}
