.bkgs {
  background-image: url('../images/create.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  /* max-width: 600px; */
  background-color: rgba(68, 66, 66, 0.8);
  color: black;
  text-decoration: underline;
  padding: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  background-color: rgba(233, 233, 222, 0.8);
  border-radius: 20px;
  padding: 20px;
  /* box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55); */
  font-size: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input, select, button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #abd648;
  color: black;
  cursor: pointer;
}

button:hover {
  background: #f3ff99;
}

.types {
  padding: 5px;
  font-size: 18px;
  display: inline-block;
  margin-right: 5px;
}

.btnx {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/* Responsividad */
@media (max-width: 768px) {
  .containers {
      width: 95%;
      padding: 15px;
  }
  
  .form {
      font-size: 14px;
  }
  
  input, select, button {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .containers {
      width: 100%;
      padding: 10px;
  }
  
  .form {
      font-size: 12px;
  }
  
  input, select, button {
      font-size: 12px;
      padding: 8px;
  }
}